body {
	background: #fff url(../assets/images/dot-grid.png);
	font: 15px "Roboto Mono", monospace;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
	color: #4a4a4a;
}
p {
	line-height: 1.4;
	margin: 0;

}
a{
	text-decoration: underline;
	color: #999;
}
small{
	color: #999;
}

section {
	margin-bottom: 2em;
}

.item {
	margin-bottom: 1em;
}
#resume {
	margin: 0 auto;
	max-width: 650px;
	padding: 0 20px;
}

#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
}
h2{
	color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
h3{
	color: #eb219b;
	font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
	margin-bottom: 10px;
}
